.chao-validator {
    position: relative;
}

.chao-tooltip.chao-invalid-message {
    position: absolute;
    background-color: transparent;
    color: #C21807;
}

.chao-tooltip.chao-tooltip-position-right {
    right: 0em;
    top: 0.3em;
}

.chao-tooltip.chao-tooltip-position-top {
    bottom: 2em;
}

.chao-tooltip.chao-tooltip-position-bottom {
    top: 2em;
}

.chao-input.chao-invalid-content {
    border-color: #C21807;
}